![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 05.03 - Key-Value Pairs: Grouping-Sorting

## Background

This exercise will have you practicing grouping and sorting a dataset.

Data will be from the Cassandra `videos_by_tag` table with the following definition:

CREATE TABLE killr_video.videos_by_tag (
    tag TEXT,
    title TEXT,
    video_id TIMEUUID,
    avg_rating FLOAT,
    description TEXT,
    genres SET<TEXT>,
    mpaa_rating TEXT,
    release_date TIMESTAMP,
    release_year INT,
    user_id UUID,
    PRIMARY KEY (tag, title, video_id)
);

Note: There are some columns which may have a null value: `avg_rating` and `description`. Be sure to use the `Option[]` data type for those columns.

***

## Directions

#### 1. Query the `videos_by_tag` table grouping the records into groups of (tag, year), storing the title of the videos within the group. Display at least one result.

#### 2. Write a variation of the previous query to count the number of items in each group.

#### 3. Sort the results of your previous query to list the groups with the highest number of videos first.